<header class="header-container">
    <div class="header-inner">
        <a class="header-brand" routerLink="/home">
            <img class="header-img" src="{{basePath + '/assets/images/Logo_TOAC.png'}}"/>
            <h1 class="header-title">"Un jour, tu oublieras ta tête"</h1>
        </a>
        <nav class="header-menu">
            <ul class="menu-list">
                <li class="menu-list-item"><a mat-button class="menu-list-item-link" routerLink="/home" [routerLinkActive]="['active']">Saison en cours</a></li>
                <li class="menu-list-item">
                    <button mat-button [matMenuTriggerFor]="menu" class="menu-list-item-link">Palmarès <mat-icon aria-hidden="false" fontIcon="expand_more"></mat-icon></button>
                    <mat-menu #menu="matMenu">
                      <a mat-menu-item routerLink="/historique/2024-2025" [routerLinkActive]="['active']">Saison 2024/2025</a>
                      <a mat-menu-item routerLink="/historique/2023-2024" [routerLinkActive]="['active']">Saison 2023/2024</a>
                    </mat-menu>
                </li>
                <li class="menu-list-item"><a mat-button class="menu-list-item-link" routerLink="/reglement" [routerLinkActive]="['active']">Règlement</a></li>
            </ul>
        </nav>
    </div>
</header>