@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;

    .header-title a {
        text-decoration: none;
        text-align: center;
        font-size: 50px;
        font-family: 'Protest Strike', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: rgb(151, 148, 134) 1px 0 10px;
        color: white;

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    .histo {
        width: 100%;

        &-list {
            display: flex;
            justify-content: space-around;

            &-item {
                list-style: none;

                & a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}