<div class="main">
    <div class="main-title-wrap">
        <h1 class="main-title">{{title}}</h1>
        <div class="main-title-underline"></div>
    </div>
    <div *ngIf="loading" class="loader-state">
        <div class="loader-spinner"></div>
    </div>
    <div *ngIf="!loading && lstPersons.length > 0" class="cards-list">
        <div *ngFor="let person of lstPersons;let i=index;" class="card">
            <div class="card-container" [ngClass]="getClassFromIndex(i)" id="{{getClassFromIndex(i)}}">
                <img *ngIf="isAffichageMedaille(i)" class="card-medaille" src="{{getUrlMedaille(i)}}"/>
                <div class="card-image-container">
                    <img *ngIf="person.photoUrl" class="card-image" src="{{apiBase + person.photoUrl}}">
                </div>
                <div class="card-infos">
                    <p class="card-name">{{person.prenom}} {{person.nom}}</p>
                    <p class="card-score">Oubli<i *ngIf="person.score > 1">s</i> : <strong>{{person.score}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && lstPersons.length==0" class="empty-state">
        <p>Pas encore d'oublis (mais on compte sur Jerem pour ouvrir le compteur)</p>
    </div>
</div>